@mixin border-radius($value: 10px) {
  border-radius: $value;
}

@mixin font-size($value: "") {
  @if ($value == h1) {
    font-size: 32px;
  } @else if ($value == h2) {
    font-size: 26px;
  } @else if ($value == h3) {
    font-size: 24px;
  } @else {
    font-size: 13px;
  }
}
